<ion-view hide-nav-bar="true">

  <!-- Footer -->
  <ion-content has-header="true" padding="true" scroll="false">
    <div class="bar bar-footer bar-transparent" >
      <div class="row">

        <!-- Left -->
        <div class="col col-left">
          <a href="" ng-click="openRegister()">Inscription</a>
        </div>

        <!-- Right -->
        <div class="col col-right">
          <a href="" ng-click="openForget()">Mot de passe oublié</a>
        </div>
      </div>
    </div>
  </ion-content>

    <!-- Content -->
  <ion-content scroll="false" class="background">

    <div class="logo">
      <img src="img/logo.png">
    </div>
    
    <!-- Form -->
    <div class="list list-inset form-welcome" id="form">
      <label class="item item-input bar">
        <i class="icon ion-ios-email-outline placeholder-icon-large"></i>
        <input type="email" placeholder="Mail" ng-model="user.email">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon-large"></i>
        <input type="password" placeholder="Mot de passe" ng-model="user.password">
      </label>

      <!-- Connexion button -->
      <a class="button button-block button-calm" ng-click="loginUser(user)">
        Connexion
      </a>
    </div>

    <!-- Error -->
    <div class="card" ng-if="error">
      <div class="item item-text-wrap">
        <p class="assertive text-center"><strong>{{ error }}</strong></p>
      </div>
    </div>
  </ion-content>
</ion-view>