<ion-tabs class="tabs-icon-top tabs-color-active-light tabs-background-dark">

  <!--
   **********************************
   * SEARCH
   **********************************
  -->
  <ion-tab title="Recherche" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!--
   **********************************
   * DEGUSTATION
   **********************************
  -->
  <ion-tab title="Degustation" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/degustation">
    <ion-nav-view name="tab-degustation"></ion-nav-view>
  </ion-tab>

  <!--
   **********************************
   * NEWS
   **********************************
  -->
  <ion-tab title="Actualité" icon-off="ion-ios-pint-outline" icon-on="ion-ios-pint" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!--
   **********************************
   * ACCOUNT
   **********************************
  -->
  <ion-tab title="Profil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>