<ion-view title="Bienvenue" hide-back-button="true">

  <!-- Slide Box -->
  <ion-slide-box class="slide-intro">
    
    <!-- First Slide -->
    <ion-slide class="text-center flex-vertical-center">
      <h1 class="calm">Intro 1</h1>
      <h2 class="font-thin">Informations</h2>
    </ion-slide>

    <!-- Second Slide -->
    <ion-slide class="text-center flex-vertical-center">
      <h1 class="calm">Intro 2</h1>
      <h2 class="font-thin">Informations</h2>
    </ion-slide>

    <!-- Third Slide -->
    <ion-slide class="text-center flex-vertical-center">
      <h1 class="calm">Intro 3</h1>
      <h2 class="font-thin">Informations</h2>
      <a href="#/tab/photo" class="button button-balanced button-slide">J'ai compris</a>
    </ion-slide>
  </ion-slide-box>
</ion-view>